<div class="hint-field">
	<div class="btn small-btn-grey reflect">Sign up</div><span> or </span><div class="btn small-btn-highlight reflect">Try now</div>
</div>
<!-- <div class="hero-unit">
	<h1></h1>
	<div class="right-panel">
		<div class="btn btn-highlight">
			Start
		</div>
	</div>
</div> -->
