<% unless (signed_in?) %>
<!-- <div class="canvas-container">
	<svg id="canvas" class="canvas" width="400" height="400"></svg>
</div> -->
<div class="hint-field">
	<div class="btn small-btn-blue reflect" link-to="/signup">Sign up</div><span> or </span><div class="btn small-btn-highlight reflect">Try now</div>
</div>
<% end %>
<style>
	.club{
		position:absolute; 
		width:35px; 
		height:35px; 
		margin-top:200px; 
		left:50%; 
		right:50%;
	}
	.club>span{
		width: 200px;
		z-index: 9;
		text-align: center;
		display: inline-block;
		margin-left: -70px;
		margin-top: 60px;
		font-size: 20px;
		font-family: fantasy;
		text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	}

</style>
<span class="club" style=""><span>Under construction...</span></span>
<script>
	var length = $("svg.canvas").attr("width");
	var size = 10;
	var dataset;
	var dataArr;
	var dataset;
	var dataArr;
	$(document).on('page:change',function(){
		dataset = ShowWidget.convertStrToCodeArr("<%= @initShowData %>");
		ShowWidget.generateShow('svg.canvas', 10, dataset);
		ShowWidget.generateAxis('svg.canvas');

		EditorWidget.init();
	});
</script>
<!-- <div class="hero-unit">
	<h1></h1>
	<div class="right-panel">
		<div class="btn btn-highlight">
			Start
		</div>
	</div>
</div> -->
