<div class="comment-block">
  <div class="thumbnail"><img src="http://1.bp.blogspot.com/-k5XaBDOKiMY/UdjlSeFESbI/AAAAAAAABnQ/4gVl6okwqSM/s1600/Avatar.jpg" alt=""></div>
  <div class="name lsf-icon" title="quote">{{user.name}}</div>
  <div class="comment">{{content}}</div>
</div>