<div class="Comment">
  <!--<div class="Thumbnail"><img src="http://1.bp.blogspot.com/-k5XaBDOKiMY/UdjlSeFESbI/AAAAAAAABnQ/4gVl6okwqSM/s1600/Avatar.jpg" alt=""></div> -->
  <span class="Comment-name lsf-icon" title="quote"><a href="/me/shows">{{user.name}}</a></span>
  <span class="Comment-date">{{ time_ago }}å‰</span>
  <div class="Comment-body">{{ content }}</div>
</div>