.canvas-container{
	background-color: #FFF;
	display: inline-block;
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
	font-size: 0;
}
.editor-wrapper{
	position:relative;
	max-width: 800px;
	min-height: 300px;
	margin: 30px auto;

	.info-field{
		position:absolute;
		top:0;
		right:0;
		width:350px;
		min-height: 350px;
		margin:20px 10px;
	}
	input{
		background-color: rgba(0,0,0,0.1);
		border:none;
		border-radius: 5px;
		font-size: 24px;
		line-height: 1.8;
		width:100%;
		padding:0 10px;
		letter-spacing: 2px;
		&:focus{
			outline: none;
			box-shadow: 0 0 5px 3px rgba(0,0,0,0.1) inset;
		}
		&::-webkit-input-placeholder {
			color: rgba(0, 0, 0,0.3);
			font-size: 16px;
		}
	}
	.bottom{
		position: absolute;
		right: 0;
		bottom: 20px;
		width: 100%;
		line-height: 40px;
		text-align: right;
	}
	.finished-btn{
		cursor: pointer;
		display: inline-block;
		width: 50%;
		font-size: 16px;
		margin-left: 20px;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.3);
		line-height: 40px;
		padding-left: 5%;
		text-align: left;
		padding-right: 20px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover{
			padding-left: 16%;
			background-color: #367294;
			color: #aeff32;
		}
	}
}

$colorpicker-size: 60px;
$mode-btn-size: 50px;
.edit-tool{
  display: flex;
  max-width: 800px;
  margin: 30px auto;
	font-size: 20px;
	.color-picker{
		width:$colorpicker-size - 8px;
		height:$colorpicker-size - 8px;
    margin-top: 6px;
    margin-bottom: 8px;
		margin-right: 30px;
		border: 2px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    &:hover, &.active{
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(0, 0, 0, 0.2);
    }
	}
	.paint-mode-group, .tool-group{
		background-color: rgba(0, 0, 0, 0.1);
    margin-right: 30px;
		border-radius: 5px;
    line-height: 60px;
	}
	.tool-btn{
		display: inline-block;
		width: 60px;
		font-size: 30px;
		text-align: center;
		color: #aaa;
		cursor: pointer;
		border: 0;
		background-color: rgba(0, 0, 0, 0);
		outline: none;
	}
	.tool-btn:hover{
		color:#999;
	}
	.tool-btn:before{
		margin:0;
	}
	.tool-btn:active {
		color: #aaa;
	}
	.tool-btn.active{
		color: #FFF;
		text-shadow: 1px 3px 0px #5897C9;
	}
  .tool-btn:not(.active){
		text-shadow: none !important;
	}
	.tool-btn.is_disabled{
		color: #eee;
		cursor: default;
		opacity: 0.5;
    text-shadow: none !important;
	}

}
.canvas rect{
	cursor:pointer;
}
.canvas .axis{
	stroke-opacity:0;
}

.canvas:hover .axis{
	stroke:#111;
	stroke-width:1;
	stroke-opacity:0.3;
}
