<%=form_for @show, url: me_shows_path(@show), method: :post do |f|%>
<%= render 'shared/error_messages', object:f.object%>
<div class="title">title</div>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
