<header>
	<div class="header"><span>Pixel Show</span></div>
	<nav>
		<ul>
			<li>我的作品</li><!--
  			--><li>畫廊</li><!--
			--><li>電影</li><!--
			--><li class="account-field" link="<%=login_path%>">
				登入
				<ul class="dropdown-menu">
					<li>個人設定</li>
					<li>作品集</li>	
					<li>登出</li>
				</ul>	
			</li>
		</ul>
	</nav>
	
</header>

