<div class="container">
	<div class="editor-wrapper">
		<div class="canvas-container">
			<svg class="canvas" width="400" height="400">
			</svg>
		</div>
		<div class="edit-tool">
		</div>
	</div>
</div>