/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require spectrum
 */


 /*- BASE STYLE
 --------------------------------------------------*/
.container{
	width:960px;
	margin: 0 auto;
}


/*- TEXT STYLE
--------------------------------------------------*/
.muted{
	color:#aaa;
	font-size: 0.8em;
}


/*- SHOW CARD
--------------------------------------------------*/
.s-show-card{
	display:inline-block;

	padding:10px;
	margin: 30px 1%;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 0 0 #aaa;
	-moz-box-shadow: 0 2px 0 0 #aaa;
	box-shadow: 0 2px 0 0 #aaa;
	.info{
		line-height: 1;
		margin-top: 5px;
	}
	svg{	

	}
}
