.debug_dump{
	background-color: rgba(255, 113, 113, 0.3);
	line-height: 1.5;
	padding: 10px 20px;
	margin: 20px;
	border-radius: 5px;
	border: 2px solid #777;
}
body{
	margin: 0;
	padding: 0;
	background: url(/bg_wood_@2X.png);
}

header{
	background: #367294;
	padding: 10px 30px;
	color: #FFF;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
	.header{
		font-size: 24px;
		display: inline-block;
	}
	nav{
		float:right;
		ul{
			margin:0;
		}
		li{
			float:left;
			list-style-type: none;
			padding: 0 20px;
			font-size: 16px;
			line-height: 24px;
		}
		.account-field{
			margin-left: 130px;
		}
	}
}