$primary-yellow: #FFD600;
$primary-yellow-hover: #FFE103;;
$deep-blue: #367294;
$deep-blue-hover:#1A4872;
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
a,a:hover,a:active{
	text-decoration: none;
	color:black;
}

.debug_dump{
	background-color: rgba(255, 113, 113, 0.3);
	line-height: 1.5;
	padding: 10px 20px;
	margin: 20px;
	border-radius: 5px;
	border: 2px solid #777;
}
body{
	margin: 0;
	padding: 0;
	background: url(/bg_wood_@2X.png);
}

header{
	background: $deep-blue;
	padding: 0 60px;
	color: #FFF;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
	a,a:hover,a:active{
		color: #fff;
	}
	.header{
		font-size: 0;
		display: inline-block;
		>span{
			font-size: 24px;
			line-height: 60px;
			cursor: pointer;
		}
	}
	nav{
		float:right;
		li{
			cursor:pointer;
		}
		>ul{
			margin:0;
			>li{
				position:relative;
				float:left;
				list-style-type: none;
				padding: 0 20px;
				font-size: 16px;
				line-height: 60px;
			}
			&>li:hover{
				background-color: $deep-blue-hover;
			}
		}
		
		.account-field{
			margin-left: 130px;
			min-width: 100px;
			text-align: center;
			.dropdown-menu{
				display:none;
				position:absolute;
				padding:0px;
				width:100%;
				left:0;
				top: 60px;
				list-style: none;
				background-color: #555; 
				z-index: 2;
				
				li:hover{
					background-color: #444;
				}
			}
			&:hover>.dropdown-menu{
				display:block;
			}
		}
	}


}

.btn{
	display:inline-block;
	position:relative;
	padding: 0 20px;
	line-height: 2;
	border-radius: 5px;
	cursor:pointer;
	&.btn-highlight{
		font-size: 24px;
		background-color: $primary-yellow;
	}
	&.small-btn-highlight{
		font-size: 16px;
		color:#444;
		background-color: $primary-yellow;
	}
	&.small-btn-highlight:hover{
		font-size: 16px;
		color:#444;
		background-color: $primary-yellow-hover;
	}
	&.small-btn-grey{
		font-size: 16px;
		background-color: #999;
		color:#444;
	}
	&.small-btn-grey:hover{
		font-size: 16px;
		background-color: #aaa;
		color:#444;
	}
	&.reflect:after{
		display: block;
		position: absolute;
		content: "";
		background-color: rgba(0, 0, 0, 0.1);
		height: 50%;
		width: 100%;
		bottom: 0;
		left: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.clear-fix:after{
	content:"";
	display:block;
	clear:both;
}


.alert{
	width:400px;
	margin:30px auto;
	opacity:0.7;
	line-height: 1.5;
	padding:5px;
	border-radius: 5px;
	&.alert-success{
		background-color: rgb(244,23,23);
	}
	&.alert-error{
		background-color: rgba(255, 0, 0, 0.5);
	}

}
