.canvas-container{
	background-color: #FFF;
	display: inline-block;
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
}
.editor-wrapper{
	position:relative;
	display:inline-block;
	width: 800px;
	min-height: 300px;
	margin: 30px auto;
	// background-color: #eee;
	font-size: 0;

	.info-field{
		position:absolute;
		top:0;
		right:0;
		width:350px;
		min-height: 350px;
		margin:20px 10px;
	}
	input{
		background-color: rgba(0,0,0,0.1);
		border:none;
		border-radius: 5px;
		font-size: 24px;
		line-height: 1.8;
		width:100%;
		padding:0 10px;
		letter-spacing: 2px;
		&:focus{
			outline: none;
			box-shadow: 0 0 5px 3px rgba(0,0,0,0.1) inset;
		}
		&::-webkit-input-placeholder {
			color: rgba(0, 0, 0,0.3);
			font-size: 16px;
		}
	}
	.finished-btn{
		cursor: pointer;
		position: absolute;
		right: 0;
		bottom: 20px;
		width: 50%;
		font-size: 16px;
		margin: 30px 0 10px 0;
		border-radius: 5px;
		background-color: rgba(0, 0, 0, 0.1);
		color: rgba(0, 0, 0, 0.3);
		line-height: 40px;
		padding-left: 5%;
		padding-right: 20px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover{
			padding-left: 16%;
			background-color: #367294;
			color: #aeff32;
		}
	}
}

$colorpicker-size: 60px;
$mode-btn-size: 50px;
.edit-tool{
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:100%;
	padding-top:100px;
	font-size: 20px;
	.color-picker{
		width:$colorpicker-size;
		height:$colorpicker-size;
		margin:30px auto;
		border: 2px solid #fff;
	}
	.mode-switcher table{
		width:100%;
		td .switch-btn{
			width:$mode-btn-size;
			height:$mode-btn-size;
			line-height: $mode-btn-size;
			margin:0 auto;
			cursor:pointer;
			text-align:center;
			background-color: #ffc200;
			box-shadow: 0 1px 1px 1px #aaa;
			border-radius: 5px;
		}
	}
	

}
.canvas rect{
	cursor:pointer;
}
.canvas .axis{
	stroke-opacity:0;
}

.canvas:hover .axis{
	stroke:#111;
	stroke-width:1;
	stroke-opacity:0.3;
}