.canvas-container{
	background-color: #FFF;
	display: inline-block;
}
.editor-wrapper{
	width: 600px;
	min-height: 300px;
	margin: 30px auto;
	background-color: #eee;
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
}