// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hint-field {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: auto;
  margin: 0 auto;
  padding: 20px 60px;
  width: 960px;
  background-color: rgba(0, 0, 0, 0.1);
}

$right-padding: 80px;

.hero-unit {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 300px;
  padding: 40px $right-padding;

  .right-panel {
    position: absolute;
    right: $right-padding;
    width: 30%;
  }
}