<div class="container">
	<% @shows.each do |show| %>

	<div class="s-show-card">
		<svg id="<%="show-#{show.id}"%>" class="js-shows" width="200" height="200" style="border:1px solid #888; margin:20px;" js-id="<%="show-#{show.id}"%>" js-data="<%=show.data%>" link-to="<%= edit_show_path(show) %>">
		</svg>
		
	</div>
	<% end %>
	
	
</div>



<script>
	$('.js-shows').each(function() {
		var showID = $(this).attr('js-id');
		var originData = $(this).attr('js-data');
		var showData = ShowWidget.convertStrToCodeArr(originData);
		ShowWidget.generateShow('#'+showID,10,showData);
	});


</script>